# Stripe configuration
STRIPE_WEBHOOK_SECRET=
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
DOMAIN_URL=http://localhost

# Database configuration
DSN=mysql:host=;port=;dbname=;charset=utf8mb4
USERNAME=
PASSWORD=

# Mail configuration
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_EMAIL=
MAIL_NAME=

# Aiven DB configuration
AIVEN_HOST=
AIVEN_PORT=
AIVEN_DB=
AIVEN_USER=
AIVEN_PASSWORD=

# reCAPTCHA configuration
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

# Google Maps
MAPS_API_KEY=
