@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-color-nav-primary: #173A4B;
    --text-color-nav-secondary: #2C3233;
    --text-home-primary: #004A7F;
    --text-home-high-contrast-primary: #003366;

    --home-gold-accent: #C69A4D;
    --home-history-accent: #A7C957;
    --home-history-accent-muted: #A7C9574D;
    --home-history-accent-muted-high-contrast: #0066664D;
    --home-history-high-contrast-accent: #006666;
    --home-yummy-accent: #CC112F;
    --home-yummy-accent-muted: #CC112F4D;
    --home-yummy-accent-muted-high-contrast: #8B00004D;
    --home-yummy-high-contrast-accent:#8B0000;
    --home-jazz-accent: #6B2FD1;
    --home-jazz-accent-muted: #6B2FD14D;
    --home-jazz-accent-muted-high-contrast: #4B00824D;
    --home-jazz-high-contrast-accent: #4B0082;
    --home-dance-accent: #FFD600;
    --home-dance-accent-muted: #FFD6004D;
    --home-dance-accent-muted-high-contrast: #CC99004D;
    --home-dance-high-contrast-accent: #CC9900;
    --home-magic-accent: #B18132;
    --home-magic-accent-muted: #B181324D;
    --home-magic-accent-muted-high-contrast: #8B69144D;

    --home-magic-high-contrast-accent: #8B6914;
    /* Jazz section*/
    --jazz-text-primary: #ffffff; 

    /* Yummy Section*/
    --yummy-primary: #49111C;
    --yummy-primary-muted: #CC112F4D;
    --yummy-primary-text: #FFFFFF;
    --yummy-sec-section: #C8963E;
    --yummy-sec-text: #49111C;
    --yummy-sec-btn: #C8963E; 
    --yummy-sec-btn-text:#FFFFFF;
    --yummy-sec-hover-btn: #49111C;
    --yummy-sec-hover-btn-text:#FFFFFF;
    
    --spacing-unit: 1rem;
    --bg-color-home-light:#F2F4F3;
    --bg-color-home-dark:#0F0F0F;

    --shadow-yellow: -7px -7px 0px #FFD93E;
  }
}

@layer components{
    body{
        @apply font-montserrat ;
    }
    .text_colors_nav{
        @apply text-[var(--text-color-nav-primary)] dark:text-black;
    }
    .text_colors_home{
        @apply text-[var(--text-home-primary)];
    }
    .bg_colors_home{
        @apply bg-[var(--bg-color-home-light)];
    }
    .headers_home{
        @apply m-4 border-b-2 border-[--home-gold-accent]  w-full text-center;
    }
    select,
    select::picker(select) {
    appearance: base-select;
    -webkit-appearance: base-select;
    -moz-appearance: base-select;
    @apply bg_colors_home text_colors_home border border-[#2C3233] rounded-xl focus:outline-none focus:ring-0 focus:border-[#2C3233];
  }
  .input_group{
        @apply flex flex-col mb-4;
    }  
    /* .input_label{
        @apply font-semibold block mb-2 text-sm  text-black dark:text-black;
    }  */
    .input_label{
        @apply block mb-2 text-sm font-medium text-black dark:text-black;
    }
    .form_input{
        @apply block min-w-0 grow bg-gray-200 py-1.5 pr-3 pl-1 rounded-md text-base text-black placeholder:text-gray-500 focus:outline-none sm:text-sm/6;
    }
    .button_primary{
        @apply block w-min rounded-md bg-blue-600 py-2 px-4 text-white hover:bg-blue-700;
    }


    /* BUTTONS */
    .home_history_button{
        @apply text-[#000000CC] font-semibold p-3 rounded-[5px] shadow-[-7px_-7px_0px_#FFD93E] hover:shadow-[-4px_-4px_0px_#FFD93E]
                   bg-[#A7C957] dark:bg-[var(--home-history-high-contrast-accent)]  focus:outline-none focus:ring-2 ;
    }
    .home_yummy_button{
        @apply text-white font-semibold p-3 rounded-[5px] shadow-[-7px_-7px_0px_#FF6B6B] hover:shadow-[-4px_-4px_0px_#FF6B6B]
                   bg-[#CC112F] dark:bg-[var(--home-yummy-high-contrast-accent)]  focus:outline-none focus:ring-2 ;
    }
    .home_jazz_button{
        @apply text-white font-semibold p-3 rounded-[5px] shadow-[-7px_-7px_0px_#00BCD4] hover:shadow-[-4px_-4px_0px_#00BCD4]
                   bg-[#6B2FD1] dark:bg-[var(--home-jazz-high-contrast-accent)]  focus:outline-none focus:ring-2 ;
    }
    .home_dance_button{
        @apply text-black font-semibold p-3 rounded-[5px] shadow-[-7px_-7px_0px_#000000CC] hover:shadow-[-4px_-4px_0px_#000000CC]
                   bg-[#FFD600] dark:bg-[var(--home-dance-high-contrast-accent)]  focus:outline-none focus:ring-2 ;
    }
    .home_magic_button{
        @apply text-black font-semibold p-3 rounded-[5px] shadow-[-7px_-7px_0px_#F7D117] hover:shadow-[-4px_-4px_0px_#F7D117]
                   bg-[#B18132] dark:bg-[var(--home-magic-high-contrast-accent)]  focus:outline-none focus:ring-2 ;
    }
    .home_calendar_button_active{
        @apply flex flex-col items-center text-white font-semibold p-3 rounded-[5px] shadow-[-5px_-5px_0px_#F7D117]
                   bg-[#004A7F] dark:bg-[var(--text-home-high-contrast-primary)] hover:bg-[#D0E5F480] hover:text-black hover:shadow-[-4px_-4px_0px_#004A7FE5] focus:outline-none focus:ring-2 transition-all ;
    }
    .home_calendar_button_inactive{
        @apply flex flex-col items-center text-black font-semibold p-3 rounded-[5px] shadow-[-4px_-4px_0px_#004A7FE5] 
                   bg-[#D0E5F480] dark:bg-[#D0E5F480] hover:bg-[#004A7F] hover:text-white hover:shadow-[-5px_-5px_0px_#F7D117] focus:outline-none focus:ring-2 transition-all ;
    }
    .home_event_select_button_active{
        @apply text-black font-semibold p-3 rounded-[5px] shadow-[-4px_-4px_0px_#000000CC] 
                   bg-[#FFD600] dark:bg-[var(--home-dance-high-contrast-accent)] hover:bg-white hover:shadow-[inset_0_2px_6px_0_rgba(0,0,0,0.1)] focus:outline-none focus:ring-2 transition-all ;
    }
    .home_event_select_button_inactive{
        @apply text-black font-semibold p-3 rounded-[5px] shadow-[inset_0_2px_6px_0_rgba(0,0,0,0.1)] 
                   bg-white hover:bg-[#FFD600] hover:shadow-[-4px_-4px_0px_#000000CC] focus:outline-none focus:ring-2 transition-all ;
    }
    /* Yummy Home */
    .home_yummy_buttons{
        @apply bg-[var(--yummy-sec-btn)] text-[var(--yummy-sec-btn-text)] hover:bg-[var(--yummy-sec-hover-btn)] hover:text-[var(--yummy-sec-hover-btn-text)]
                   font-semibold p-3 rounded-[5px] focus:outline-none focus:ring-2 transition-all;
    }
    /* CalendarHome */
    /* .calendar-coils{
        @apply relative w-full flex justify-center items-center overflow-visible;
    }
    .calendar-coils::before{
        @apply absolute content-['']  block w-[2rem] h-[3rem] bg-[url("/Assets/Home/CalendarCoilsJazz.svg")] bg-cover bg-no-repeat bg-center right-1/2 top-1/2;
    } */
    /* MAGIC@TEYLERS */
    .magic_paragraph{
        @apply text-[#C69A4D]
    }
    .magic_paragraph h1{
        @apply text-3xl font-bold mb-2
    }
     .magic_paragraph p{
        @apply text-lg text-black
    }

}